<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HTML to PDF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="/" method="POST">
        <h1 class="form-signin-heading">Преобразуване на HTML в PDF</h1>
        <textarea class="input-block-level" name="to_convert" placeholder="Въведете HTML код или URL, които да бъдат превърнати в PDF:"></textarea>
        <button class="btn btn-large btn-primary" type="submit">Трансформирай</button>
      </form>

    </div>
  </body>
</html>
